
<h1>Welcome to Easy Auth</h1>

<p>How do you want to register?</p>

<%= link_to "WebAuthn", new_registration_path, class: "btn btn-primary" %>
<%# <%= link_to "Password", new_user_registration_path, class: "btn btn-primary" %> %>
