// Place all the styles related to the Start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
	--color-primary: lightseagreen;
	--color-secondary: lightcoral;
	--base-font-size: 1rem;
	--font-weight-bold: 700;
	--font-weight-medium: 400;
}

.info-wrapper {
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--color-primary);
}

.info-wrapper .summary {
	font-weight: var(--font-weight-medium);
}

.headline-small {
	font-size: var(--base-font-size);
	font-weight: var(--font-weight-bold);
}

.info-footer {
  margin-top: 2rem;
}

.info-link {
  margin-top: 1rem;
}

#more {
  display: none;
}

#check {
  display: none;
}

#check:checked~.more-content {
  display: block;
}

#check:checked~label {
  display: none;
}

div>label {
  margin-bottom: 1rem;
}

.more-content {
  display: none;
}

